{{ partial "header.html" . }}
	<main id="content" aria-live="polite">
		<h1 class="intro">Mohit Ahuja is a creative software developer from New Delhi, India.</h1>
		<p class="lead">He is currently living in Södertälje, Stockholm (Sweden). He is currently wokring with Scania as a software engineer in their sales and marketing team.</p>
		<!-- <section>
			<div class="elements elements-lg">
				<h2 class="side-title">Recent projects</h2>
				<div class="work-grid home-grid">
					{{ range $index, $element:= where .Data.Pages.ByDate.Reverse "Section" "projects" | first 2 }}
						<article>
							<a href="{{ .Permalink }}">
								{{ if .Params.style }}
									<div class="image" style="
										background-image: url('{{ .Params.image }}');
										background-size: cover;
										background-color: {{ .Params.bg }}
									"></div>
								{{ else }}
									<div class="image" style="
										background-image: url('{{ .Params.image }}');
										background-color: {{ .Params.bg }}
									"></div>
								{{ end }}
								<h2>{{ .Title }}<span> &middot; {{ .Date.Format "January 2006" }}</span></h2>
								<p>{{ .Params.intro }}</p>
							</a>
					</article>
					{{ end }}
				</div>
			</div>
		</section> -->
		<section>
			<div class="elements elements-lg">
				<h2 class="side-title">New</h2>
				<div class="work-grid home-grid articles-grid">
					{{ range first 6 (where .Data.Pages "Section" "!=" "events") }}
						<article class="{{ .Section | urlize }}">
							<a href="{{ .Permalink }}" style="display: inline-block">
								<h2>{{ .Title }}</h2>
								<div class="light">
									{{ if .Params.futureDate }}
										Upcoming event on {{ .Params.futureDate }}
									{{ else }}
										{{ .Date.Format "January 2, 2006" }}
										in {{ .Section | humanize }}
									{{ end }}
								</div>
							</a>
						</article>
					{{ end }}
				</div>
			</div>
		</section>
		<!--Events Section-->
		<!-- <section>
			<div class="elements elements-lg">
				<h2 class="side-title">Events</h2>
				<div class="work-grid home-grid articles-grid">
					{{ range first 6 (where .Data.Pages "Section" "events") }}
						<article class="{{ .Section | urlize }}">
							<a href="{{ .Permalink }}" style="display: inline-block">
								<h2>{{ .Title }}</h2>
								<div class="light">
									{{ if .Params.futureDate }}
										{{ .Params.futureDate }}
									{{ else }}
										{{ .Date.Format "January 2, 2006" }}
									{{ end }}
									{{ if .Params.places }}
									in
										{{ range $i, $e := .Params.places }}
											{{ . }}{{ partial "emoji.html" . }}
										{{ end }}
									{{ end }}
								</div>
							</a>
						</article>
					{{ end }}
				</div>
			</div>
		</section> -->
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}